@import '../src/css/navigation.css';

@media only screen and (max-width: 600px) {
  .rs-picker-daterange-calendar-group {
    display: flex;
    flex-direction: column;
    height: auto !important;
    min-width: 100% !important;
  }

  .rs-picker-daterange-menu .rs-calendar:first-child {
    border-right: none !important;
    border-bottom: 1px solid var(--rs-border-primary);
  }
}

